* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 22, 32);
  font-family: "Inter", sans-serif;
}

.navbar a {
  font-size: 20px;
}

.container01 {
  display: flex;
  background-image: url("../images/Vector.svg");
  color: #FFFFFF;
  justify-content: space-evenly;
  align-items: center;
}

.aaa {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.convite {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  align-items: center;
  text-transform: uppercase;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.entregas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #FFFFFF;
  padding: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  background-color: #6b1826;
}

.nav-item {
  padding: 15px;
  text-transform: uppercase;
}

.planos {
  font-size: 30px;
  text-transform: uppercase;
}

.drink {
  color: #ff0022;
}

.h2 {
  text-align: center;
  padding-bottom: 18px;
  font-family: "Montserrat", sans-serif;
}

.text-convite {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  padding-left: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.alerta {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}

.h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  padding-bottom: 12px;
}

.entregamos {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  padding-bottom: 20px;
}

.wpp {
  padding: 10px;
  font-size: 20px;
}

.icons {
  padding: 0 20px;
  color: #FFFFFF;
  text-align: center;
}

.compra {
  color: #FFFFFF;
  font-size: 18px;
  background-color: #7a0014;
  text-align: center;
}

.bonito {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 10px;
}

/* Imagens */
.logo {
  width: 170px;
  height: 170px;
  margin-left: 15px;
}

.trio {
  width: 390px;
  height: 390px;
}

#carouselExampleSlidesOnly {
  margin: 0 auto;
  width: 500px;
  height: 400px;
}

iframe {
  width: 450px;
  height: 340px;
}

.moto {
  transform: rotateY(-180deg);
}

@media (max-width: 1500px) {
  h2 {
    font-size: 32px;
  }
  .text-convite {
    padding-left: 90px;
    font-size: 30px;
  }
  .planos {
    font-size: 40px;
  }
  .entregamos {
    font-size: 36px;
  }
}
@media (max-width: 1000px) {
  .text-convite {
    padding-left: 25px;
  }
}
@media (max-width: 900px) {
  .text-convite {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .container {
    width: 550px;
    height: auto;
    flex-direction: column;
  }
  .aaa {
    font-size: 40px;
    padding-bottom: 30px;
    display: inline-block;
  }
  .btn {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .text-convite {
    font-size: 19px;
  }
}
@media (max-width: 700px) {
  #carouselExampleSlidesOnly {
    width: 500px;
    height: auto;
    padding: 0;
  }
  .entregas {
    margin-top: 28px;
  }
  .mapa {
    width: 380px;
    padding-right: 30px;
  }
  .entregamos {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  #carouselExampleSlidesOnly {
    width: 400px;
    padding: auto;
  }
  .mapa {
    width: 300px;
    height: auto;
  }
  .moto {
    width: 200px;
    height: 200px;
  }
  .entregamos {
    font-size: 19px;
  }
  .alerta {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .navbar {
    width: 100vh;
  }
  .container {
    width: 100vh;
  }
  .entregas {
    width: 100vh;
  }
  .alinhamento {
    width: 100vh;
  }
  .footer {
    width: 100vh;
  }
  .convite {
    width: 100vh;
  }
  .trio {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 500px) {
  #carouselExampleSlidesOnly {
    width: 400px;
    height: auto;
    padding: 0;
  }
  .entregamos {
    font-size: 15px;
  }
  .alerta {
    font-size: 10px;
  }
  .text-convite {
    font-size: 17px;
  }
  h2 {
    font-size: 10px;
  }
  .moto {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
